.RData
.Rhistory
.Rproj.user
.Ruserdata
*.vim
CRAN-RELEASE
CRAN-SUBMISSION
data/waterquality.rda
docs
docx
export_script/
inst/doc
lagos_r_package_meeting_notes
Makefile
README.html
test.R
tests/testthat/test-lagos_ingest.R
vignettes/Makefile
